@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap');

*, *:before, *:after {
    box-sizing: inherit;
  }
  html {
    box-sizing: border-box;
  }
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}
.topbar-container{
    width: 100%;
}
.topbar{
    display: flex;
    position: fixed;
    top: 0px;
    left: 0;
    background: white;
    align-items: center;
    justify-content: center;
    width: 98%;
}
.logo .img{
  order: 1;
  height: 55px;
  object-fit: cover;
}
.group-elements .icons img{
    height: 30px;
}
.content{
   order: 2;
   display: flex;
   align-items: center;
   justify-content: center;
}
.content-text{
    padding-left: 2rem;
    font-weight: 500;
}
.caret{
    order: 3;
    padding: 0.5rem;
    font-size: 20px;
    height: 20px;
    border-radius: 4px;
}
.group-elements{
    order:4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    width: 100%;
}
.icons{
    order:5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
}
.icons span{
    font-weight: bold;
    padding-left: 2px;
}
.auth{
    order: 7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.cart-logo{
    width: 100%;
    padding-left: 2rem;
    font-size: 1.3rem;
    color:blue;
}
.login-btn{
    width: 100%;
    padding: 1rem;
}
.login-btn .btn{
    width: 100%;
    padding: 0.6rem;
    border: 0.5px solid;
    border-color: blue;
    background-color: white;
    border-radius: 5px;
}

.login-text{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 235);
}

.motive{
    display: flex;
    min-height: 100px;
    height: max-content;
    align-items: center;
    justify-content: space-between;
    background: rgb(194, 216, 255);
    margin: 1rem;
    margin-top: 5rem;
    padding: 1.6rem;
    gap: 10px;
    border-radius: 20px;
}
.help,.User-cont{
    display: none;
}
.motive1{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    justify-content: space-evenly;
    text-align: center;
    border-right: 2px solid gray;
}
.motive1 img,.motive2 img,.motive3 img{
    height: 70px;
}
.motive-text{
    font-size: 1.3rem;
    font-weight: bold;
}
.motive2{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    justify-content: space-evenly;
    text-align: center;
    border-right: 2px solid gray;
}
.motive3{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

/* Mobile Screen */
@media (max-width: 650px) {
    .topbar-container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .topbar {
      flex-wrap: wrap;
      width: 90%;
      background-color: rgb(245, 245, 245);
      position: fixed;
      top: 0px;
      left: 15px;
      padding: 0.5rem;
      display: flex;
      justify-content: space-around;
      align-items:center;
      z-index: 1000;
      box-shadow: 3px 2px 4px 0px grey;
    }
    .logo .img{
        order: 1;
        height: 40px;
        object-fit: cover;
    }

    .icons {
      display: none;
    }
    .cart-logo {
        display: none;
    }
    .auth{
        display: none;
    }
    .content{
        order: 2;
        display: flex;
        align-items: center;
        justify-content: center;
     }
     .content-text{
         padding-left: 2rem;
         font-weight: 300;
     }
     .help,.User-cont{
        display:contents;
        width: 100%;
    }
    .question{
        order: 3;
        font-size: 1.6rem;
        color: rgb(49, 49, 49);
        width: 20%;
    }
    .user{
        order: 4;
        font-size: 1.5rem;
        width: 10%;
    }
     .caret{
         order: 3;
         padding: 0.5rem;
         font-size: 10px;
         color: rgba(0, 0, 0, 0.651);
         font-weight: 300;
         height: 15px;
         border-radius: 4px;
     }
     .motive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 92%;
        padding: 0;
     }
     .motive1,.motive2{
        display: flex;
        justify-content: center;
        border-right: none;
        width: 100%;
        padding: 1rem;
        border-bottom: 2px solid gray;
     }
     .motive-text{
        color: rgb(37, 37, 37);
     }
     .motive3{
        display: flex;
        justify-content: center;
        padding: 1rem;
     }
     
  }