.footer-container{
    display: flex;
    align-items: center;
    min-height: 118px;
    align-self: flex-start;
    width:calc(100% - 0px);
    justify-content: center;
    gap: 50px;
    background: rgb(9, 23, 71);
    color: white;
    overflow-x: hidden;
    padding: 10px 0px;
}
.footer-container > .text1 ,.text2,.text3{
    font-family: Mulish;
    font-size: 24px;
    word-break: break-word;
    font-weight: 800;
    line-height: 1.5;
}
.text3{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 15%;
}
.discount{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.discount-text{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;
}
.btn{
    width: 100%;
    border-radius: 10px;
    background-color: yellow;
    padding:0.5rem;
    border: none;
    font-size: large;
    font-weight: bold;
}
.bottom-navbar{
    display: none;
}

/* Mobile Screen */
@media (max-width: 650px) {
    .footer-container{
        display: none;
    }
    .bottom-navbar{
        display: contents;
        display: flex;
        position: fixed;
        bottom: 0px;
        background-color: white;
        width: 97%;
        padding: 0.5rem;
        align-items: center;
        justify-content: space-around;
        box-shadow: inset 1px 2px 5px grey;
    }
    .categories,.Offers,.Search,.Refer-Earn,.Sign-up{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icon{
        font-size: 1.2rem;
    }
    .span{
        font-size: 14px;
    }
}